{% extends "base.html" %}
{% block title %}
delete blog post
{% endblock %}


{% block content %}

{%if user.is_authenticated %}
{%if user.id == post.author.id%}

<h1> delete post </h1>

<br/> <br/>
<h3> Delete: {{post.title}} </h3>
<br/>

<div class = "form-group">
<form method = "POST">
    {% csrf_token %}
    <strong> are you sure? </strong>
    <br/>
    <br/>
    <button class="btn btn-secondary"> delete post </button>


</form>

    </div>
{%else%}
you are not allowed to delete posts
{%endif%}
{%else%}
you are not allowed to delete posts
{%endif%}




  {% endblock %}
