{% extends "base.html" %}
{% block title %}
edit blog post
{% endblock %}


{% block content %}


{%if user.is_authenticated %}
    {%if user.id == post.author.id%}

<h1> update post </h1>

<br/> <br/>
<div class = "form-group">
<form method = "POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary"> update </button>


</form>

    </div>
    {%else%}
you are not allowed to edit posts
{%endif%}
{%else%}
you are not allowed to edit posts
{%endif%}




  {% endblock %}
